@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
   .box-container {
        width: 92vw;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        height:100% ;
        justify-content: start;


    }
      
    .content-dashboard{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        
    }

    .box1 p {
        color: black;
        text-decoration: none;
        font-size: 1.3vh;
        font-weight: bold;

    }

    .box {
        height: 130px;
        width: 150px;
        border-radius: 4px;
        box-shadow: 3px 3px 10px #c9cacaea;
        padding: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        margin: 20px;
        
    }
    .text{
        background-color: #ffffff;
        border: none;
        font-size: 1.6vh;

    }

    .box:hover {
        transform: scale(1.08);
    }

    .box:nth-child(1) {
        background-color: var(--one-use-color);
    }

    .box:nth-child(2) {
        background-color: var(--two-use-color);
    }

    .box:nth-child(3) {
        background-color: var(--one-use-color);
    }

    .box:nth-child(4) {
        background-color: var(--two-use-color);
    }

    .box img {
        height: 50px;
    }

    .box .text {
        color: rgb(0, 0, 0);
    }

    .Quick_Add{
        margin: 20px;
        display: flex;
        gap: 10px;
        position: fixed;
        top: 88vh;
       
    }
    .Quick_Add button{
       border: 2px solid  #06c082;
       border-radius: 50px;
       padding: 10px;
       color: #ffffff;
       background-color: #06c082;
       font-size: 1.2vh;
    }
    .Quick_Add button:hover{
        background-color: #ffffff;
        color:  #06c082;
     }

    #btn20{
        border: none;
        background-color: #ffffff;
        font-weight: bold;
        color: gray;
        font-family: 'Be Vietnam Pro', sans-serif;
    }
    #btn20:hover{
        color: rgb(41, 134, 241);
    }
    .notif{
        width:  92vw;
        font-size: 1.4vh;
        color: rgb(18, 49, 133);
    }
   