

body {
    background-color: #ffffff;
    color: #030303;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    background-color: #000000;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 24px;
    font-weight: bold;
    }

.navbar-brand:hover {
    color: #ff0;
}

.nav-link {
    color: #ffffff !important;
    font-size: 18px;
}

.nav-link:hover {
    color: #ff0;
}
#logoPersonnel{
    width: 200px;
}