@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

.container-sidebar {
    background-color: #0a3c58;
    width: 8vw;
    height: 100%;
}

.route {
    align-items: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.route a{
    text-decoration: none;
}

.route:hover {
    border-left: 3px solid rgb(248, 94, 23);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;
}

.title {
    color: white;
    text-align: center;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.3vh;
}

a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .container-sidebar {
        width:0vw;
    }
  }