@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

.container-sidebar {
    background-color: #2b2b2b;
    width: 7vw;
    height: 100%;

    overflow-y: scroll;
}

.route {
    align-items: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.route a{
    text-decoration: none;
}

.route:hover {
    border-left: 3px solid rgb(248, 86, 11);
   
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;
}

.title {
    color: white;
    text-align: center;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Be Vietnam Pro', sans-serif;

    font-size: 1.3vh;

}

a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}