/* Include Dashboard */
@import url('./include/dashboard.css');

/* Include Navbar */
@import url('./include/navbar.css');

/* Include Side Bar */
@import url('./include/sidebar.css');

/* Include Formule */
@import url('./include/formule_creation.css');

/* Include Welcome */
@import url('./include/welcome.css');

@import url('./include/datatable.css');


.ContentS1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center !important;
    background-color: rgb(246, 246, 250);
}

.by-default-hidden{
    display: none;
}

.by-default-showen{
    display: block;
}





